<!-- <h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
<p>hello</p> -->

<h1 style= "font-size:50px; color:white; font-family: helvetica";> This looks like a job  </h1>
<h1 style= "font-size:50px; color:white; font-family: helvetica";> for Superman </h1>

<body>
  <!-- <img src="<%= asset_path 'batman_pic' %>"> -->
</body>


<script>
  $.backstretch("<%= asset_path 'superman_pic' %>");
</script>
